#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container{
    padding: 20px;
    border-radius: 8px;
    width: 100%;    
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: var(--color-primary-3);
    background-color: var(--color-primary-1);
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3 ease;
    font-weight: 550;
    font-size: 1.2rem;
}

.tab-btn.active {
    color: var(--color-primary-3);
    background-color: var(--color-primary-6);
}

.tab-btn:hover {
    background-color: var(--color-primary-5)
}

.dishes{
    display: none;
}

.dishes.show{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
    padding: 32px;
    background-color: var(--color-primary-6);
    border-radius: 0px 0px 8px 8px;
}


.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    gap: 18px;
    width: 40%;
    padding: 20px;
    background-color: var(--color-primary-6);
    box-shadow: 0px 0px 8px 4px rgba(0 , 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish-image{
    width: 100%;
    height: 50%;
}

.dish-image img{
    width: 90%;
}

.dish-heart {
    position: absolute;
    background-color: var(--color-primary-2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff9ea;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-here {
    position: absolute;
    background-color: var(--color-primary-2);
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff9ea;
    font-size: 1.0rem;
    top: -5px;
    right: 50px;
    border-radius: 20px 0px 0px 20px;
    padding: 10px 13px;
}

.dish-description {
    color: #434343;
    text-align: center;
}

.dish-tecs-title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 550;
}
.dish-tecs {
    width: 12%;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: box-shadow .3s ease;
}

.dish-tecs img{
    align-items: center;
    width: 100%;
}

.dish-tecs :hover {
    box-shadow: 0px 0px 6px 4px rgba(207, 191, 191, 0.1);
}

@media screen and (max-width: 1170px) {
    #dishes{
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish.show {
        width: calc(50% - 12px)
    }

    .dishes-buttons{
        flex-wrap: nowrap;
        text-align: justify;
    }
}

@media screen and (max-width: 600px) {
    .dish.show {
        width: 100%
    }

    #projects .section-subtitle {
        text-align: center;
        font-size: 1.5rem;
    }

    .dish{
    width: 100%;
    }

    #container{
        padding: 1px;
    }
}